@use '../../abstract/mixins';
@use '../../abstract/variables';

.profile {
    margin-top: 50px;
    //background-color: #42D8A6;

    &__bgBrand {
        height: 4rem;
        background: linear-gradient(180deg, #42D8A6 4rem, transparent 4rem);

        @include mixins.responsive(variables.$medium){
        height: 9rem;
        background: linear-gradient(180deg, #42D8A6 9rem, transparent 9rem);

        }
    }

    &__content {
        padding-left: 0;
        padding-right: 0;

        @include mixins.responsive(variables.$medium){
            transform: translateY(-15%);
        }

        &--card {
            position: relative;
            padding: 0.75rem;
        }

        .wrapper-avatar {
            display: flex;
            justify-content: space-between;

            &__img {
                width: 56px;
                height: 56px;
                //display: inline-block;
                position: absolute;
                top: -50%;
                transform: translateY(-10%);
                vertical-align: middle;
                flex-shrink: 0;
                border-radius: 100%;
                overflow: hidden;
                border: 4px solid #42D8A6;

                @include mixins.responsive(variables.$medium){
                    width: 128px;
                    height: 128px;
                    top: 0;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);

                    border: 7px solid #42D8A6;
                }


                img {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    vertical-align: bottom;
                    border-radius: 100%;
                }
            }

            &__actions {
                .btn-profile {
                    background-color: variables.$btn-color;
                }
            }
        }


    }

    &__details {

        @include mixins.responsive(variables.$medium) {
            text-align: center;
        }

        &--user {
            font-weight: 800;
        }

        &--abstract {
            @include mixins.responsive(variables.$medium) {
                text-align: center;
                width: 75%;
                margin: 0 auto;
            }
        }
    }

}