@use '../abstract/mixins';
@use '../abstract/variables';
.navbar-devto{
    height: 64px;
}
.btn-outline-primary{
    color: variables.$color-primary;
    border-color: variables.$color-primary;
    &:hover{
        background-color: variables.$color-primary;
        color: #fff;
        text-decoration: underline;
    }
}
.wrapper-avatar{
    border-radius: 9999px;
    margin-left: 15px;
    margin-right: 10px;
}
.btn-sm{
    width: 40px;
    height: 40px;
    //margin-left: 15px;

}

.badge{
    display: inline-block;
    line-height: 1;
    font-size: 0.875rem;
    right: -8px;
    padding: 0.25rem;
    top: 4px!important;
    min-width: 0.5rem;
    border-radius: 6px!important;
    text-align: center;
    box-shadow: 0 0 0 2px #fff;
}
.btn-avatar{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    flex-shrink: 0;
    border-radius: 100%;
    overflow: hidden;

    .img-avatar{
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: bottom;
        border-radius: 100%;
    }
}

header.fixed-top + main {
    padding-top: calc(1.5rem + 56px);
    margin-bottom: 1.5rem;
}


.offcanvas{
    &.offcanvas-start{
        width: 90%;
        max-width: 300px;
    }

    .nav-link{
        span{
            margin-right: 4px;
        }
    }
}

.nav-link:hover{
    background-color: rgba(59, 73, 226, 0.1);
    color: variables.$color-primary;
    text-decoration: underline;
}
.other-title{
     font-size: 12px;
     font-weight: 700;
}

.form-search{
    width: 420px;
}
.wrapper-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 50%;
    transform: translateY(-50%);

    .btn{
        &:hover{
            border: none;
            background-color: rgba(59,73,223,0.1);
            color: rgb(38,38,38);

            svg{
                fill: rgba(59,73,223,0.8);;
            }
        }

        &:active{
            border: none;

            
        }

        &:focus{
            border: none;
        }
        &:focus-visible{
            border: none;
        }

        
    }
}

.formSearch{
    transform: translateY(0);
}
.navbar-toggler{
    border: none;

    &:focus{
        box-shadow: none;
    }
}

header#header + main {
    padding-top: calc(1.5rem + 56px);
    margin-bottom: 1.5rem;
  }