$color-primary: rgb(59, 73, 223);
$color-gray: rgb(189, 189, 189);
$btn-color: rgb(47,58,178);







// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;
$extra-4k: 2560px;