.post-aside-left{

    .navbar-nav{
        margin-top: 60px;
        display: grid;
        gap: 1rem;
        max-height: 271px;
    }
    .nav-icons{
        border-radius: 50%;
        width: 40px;

        &--like{
            &:hover{
                background-color: rgba(220, 38, 38, 0.1);
                border-radius: 50%;
                cursor: pointer;
                svg{
                    fill: rgb(220, 38, 38);;
                }
            }
        }

        &--unicorn{
            &:hover{
                border-radius: 50%;
                cursor: pointer;
                background-color: rgba(5, 150, 105, 0.1);
                svg{
                    fill: rgb(5, 150, 105);
                }
            }
        }

        &--save{
            &:hover{
                border-radius: 50%;
                cursor: pointer;
                background-color: rgba(79, 70, 229, 0.1);
                svg{
                    fill: rgb(79, 70, 229);
                }
            }
        }
    }

}